@import '../stylesheets'

main
	display: flex
	flex-direction: column
	gap: 1em
	padding: 0px 1em
	overflow: hidden auto
	menu > nav
		display: flex
		gap: 4rem
		flex-wrap: wrap
		& > aside
			flex-grow: 1
			min-width: stretch
			display: flex
			flex-wrap: wrap
			gap: 4rem
	menu + dfn
		display: flex
		align-items: center
		justify-content: center
	& > menu
		display: flex
		gap: 4rem
		flex-direction: column
		width: clamp( 960px, 66vw, 1280px)
		align-self: center
		position: sticky
		top: 0px
		background-color: 'Neutral/Neutral 00'
		box-shadow: 'Shadow menu'
		z-index: 1
		nav:empty
			display: none
		& > section
			display: flex
			gap: 4rem
			& > label + label
				flex-grow: 1
			& > label:first-child
				input
					width: 0px
					padding: 0px
					padding-right: 0px
					border-width: 0px
					transform: scaleX(0)
					transform-origin: left center
					transition: width .6s, padding-right .6s, transform .2s
					& + kbd
						border-width: 0px 0px 0px 0px
						transition: border-width .3s
				&:focus-within
					input
						width: 33vw
						border-width: 1px
						padding: 4rem
						padding-right: 20rem
						opacity: 1
						transform: scaleX(1)
						& + kbd
							border-width: 1px 1px 1px 0px
					& + label > input
						width: 0px
						min-width: stretch
	& > article
		flex-grow: 1
		& > *
			width: clamp( 960px, 64vw, 1280px)
			margin: 0px auto
			dl
				display: grid
				grid-template-columns: auto 1fr
				gap: 8rem
			dd, dt
				display: flex
				gap: 8rem
				justify-content: space-between
				align-items: flex-start
				& > aside
					display: flex
					gap: 4rem
			dt
				justify-content: end
				dfn:not(:empty)
					max-width: 45vw
					text-align: right
					-webkit-line-clamp: 2
					-webkit-box-orient: vertical
					overflow: hidden
					display: -webkit-inline-box
			dt:has( > dfn:not(:empty)) + dd > a
				max-width: 30vw
				overflow: hidden
				text-overflow: ellipsis

.ErrorPageState
	place-self: center
	flex-grow: 1
	display: grid
	grid-template-columns: auto 1fr
	gap: 8rem
	align-items: center
	dfn
		display: block
	& img
		width: 20vw

	.ErrorStatus
		color: #6FA3FF
		font-family: 'Arial Black'
		font-weight: bold
		font-size: 5.5vw
		position: relative
		span
			position: absolute
			top: 2vw
			right: 2.3vw